HHGroup.DataProviders/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.txt
HHGroup.DataProviders/obj/Debug/HHGroup.DataProviders.csprojResolveAssemblyReference.cache
HHGroup.DataProviders/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
HHGroup.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.txt
HHGroup.Web/obj/Debug/HHGroup.Web.csprojResolveAssemblyReference.cache
HHGroup.DataProviders/bin/Debug/HHGroup.DataProviders.dll
HHGroup.v12.suo
Design/~$hhgroup_database_design.xlsx
*.cache
HHGroup.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
HHGroup.Web/obj/Debug/HHGroup.Web.csproj.FileListAbsolute.txt
*.txt
*.cache
HHGroup.Web/obj/Debug/HHGroup.Web.dll
*.dll
*.pdb
*.map
*.eot
HHGroup.Web/obj/Release/Package/PackageTmp/Content/bootstrap/fonts/glyphicons-halflings-regular.svg
*.ttf
HHGroup.Web/obj/Release/Package/PackageTmp/Content/bootstrap/fonts/glyphicons-halflings-regular.woff
*.woff2
*.jpg
*.ico
*.png
*.pubxml
HHGroup.Web/Properties/PublishProfiles/HHGroupWeb.pubxml.user