HHGroup.DataProviders/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.txt
HHGroup.DataProviders/obj/Debug/HHGroup.DataProviders.csprojResolveAssemblyReference.cache
HHGroup.DataProviders/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
HHGroup.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.txt
HHGroup.Web/obj/Debug/HHGroup.Web.csprojResolveAssemblyReference.cache
HHGroup.DataProviders/bin/Debug/HHGroup.DataProviders.dll
HHGroup.v12.suo
Design/~$hhgroup_database_design.xlsx
*.cache
HHGroup.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
HHGroup.Web/obj/Debug/HHGroup.Web.csproj.FileListAbsolute.txt
*.txt
*.cache
HHGroup.Web/obj/Debug/HHGroup.Web.dll
*.dll
*.pdb
*.map
*.eot
HHGroup.Web/obj/Release/Package/PackageTmp/Content/bootstrap/fonts/glyphicons-halflings-regular.svg
*.ttf
HHGroup.Web/obj/Release/Package/PackageTmp/Content/bootstrap/fonts/glyphicons-halflings-regular.woff
*.woff2
*.jpg
*.ico
*.png
*.pubxml
HHGroup.Web/Properties/PublishProfiles/HHGroupWeb.pubxml.user
HHGroup.DataProviders/bin/Debug/HHGroup.DataProviders.dll
HHGroup.DataProviders/bin/Debug/HHGroup.DataProviders.dll
HHGroup.DataProviders/bin/Debug/HHGroup.DataProviders.dll
HHGroup.DataProviders/bin/Debug/HHGroup.DataProviders.dll
HHGroup.DataProviders/bin/Debug/HHGroup.DataProviders.dll
HHGroup.DataProviders/bin/Debug/HHGroup.DataProviders.pdb
HHGroup.DataProviders/bin/Debug/HHGroup.DataProviders.dll
HHGroup.DataProviders/bin/Debug/HHGroup.DataProviders.pdb
*.pdb
HHGroup.DataProviders/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
HHGroup.DataProviders/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
HHGroup.DataProviders/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
HHGroup.DataProviders/bin/Debug/HHGroup.DataProviders.dll
HHGroup.DataProviders/bin/Debug/HHGroup.DataProviders.pdb
HHGroup.DataProviders/obj/Debug/HHGroup.DataProviders.dll
HHGroup.DataProviders/obj/Debug/HHGroup.DataProviders.pdb
*.dll
HHGroup.Web/bin/HHGroup.DataProviders.pdb
*.js
*.css
HHGroup.Web/obj/Release/Package/PackageTmp/Content/angularjs/errors.json
*.json
HHGroup.Web/obj/Release/Package/PackageTmp/Content/views/about.html
*.html
HHGroup.Web/obj/Release/Package/PackageTmp/Global.asax
*.config
HHGroup.Web/obj/Release/Package/PackageTmp/Views/Home/Index.cshtml
*.cshtml
HHGroup.Web/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
HHGroup.Web/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
HHGroup.Web/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
*.pdb
HHGroup.Web/obj/Debug/HHGroup.Web.dll
*.cache
HHGroup.Web/obj/Debug/HHGroup.Web.csproj.FileListAbsolute.txt
*.cache
HHGroup.Web/obj/Debug/build.force