HHGroup.DataProviders/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.txt
HHGroup.DataProviders/obj/Debug/HHGroup.DataProviders.csprojResolveAssemblyReference.cache
HHGroup.DataProviders/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
HHGroup.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.txt
HHGroup.Web/obj/Debug/HHGroup.Web.csprojResolveAssemblyReference.cache
HHGroup.DataProviders/bin/Debug/HHGroup.DataProviders.dll
HHGroup.v12.suo
Design/~$hhgroup_database_design.xlsx