<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Content/angularjs/angular.js"></script>
    <script src="~/Content/angularjs/angular-route.js"></script>
    <script src="~/Content/scripts/hhgroup-app.js"></script>   
    <script src="~/Content/scripts/controllers/home-controller.js"></script>
</head>
<body>
    <div xmlns:ng="http://angularjs.org" id="ng-app" ng-app="hhgroup">
        @RenderBody()
    </div>    
</body>
</html>
