body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #808080
}

.navbar {
  margin-bottom: 20px;
}

.contentarea {
  padding-top: 50px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
  text-align:center
}